section.margin-top-2.margin-bottom-5#clients
  .container
    .container 
      .column.column--auto.margin-right-2.padding-top-1
          include ../images/grid.pug
      .column
        h3.subtitle Our Clients
    .container.shape.shape--outline.padding-0
      .column.column--one-third.column--md--one-fifth.client-box
        img(src="./images/clients/kamco.png", alt="Kamco")
      .column.column--one-third.column--md--one-fifth.client-box
        img(src="./images/clients/sun.png", alt="Kamco")
      .column.column--one-third.column--md--one-fifth.client-box
        img(src="./images/clients/voltas.png", alt="Kamco")
      .column.column--one-third.column--md--one-fifth.client-box
        img(src="./images/clients/kaefer.png", alt="Kamco")
      .column.column--one-third.column--md--one-fifth.client-box
        img(src="./images/clients/dhafir.png", alt="Kamco")
      .column.column--one-third.column--md--one-fifth.client-box
        img(src="./images/clients/deg.png", alt="Kamco")
      .column.column--one-third.column--md--one-fifth.client-box
        img(src="./images/clients/aroma.png", alt="Kamco")
      .column.column--one-third.column--md--one-fifth.client-box
        img(src="./images/clients/pivot.png", alt="Kamco")
      .column.column--one-third.column--md--two-fifth.client-box
        p And more...
      
