footer#contact
  .section
    .container.container--space-between
      h4.column.column--full.column--md--one-fifth(style="color: var(--color-gray-3)") Contact us on
      a(href="mailto:chlorisllc@gmail.com").h4.column.column--full.column--md--one-fifth
        span.text--middle
          include ../images/email.pug
        span.margin-left-1 chlorisllc@gmail.com
      a(href="tel:+97192442528").h4.column.column--full.column--md--one-fifth
        span.text--middle
          include ../images/phone.pug
        span.margin-left-1 +971 92 442 528
      a(href="tel:+971505767538").h4.column.column--full.column--md--one-fifth
        span.text--middle
          include ../images/phone.pug
        span.margin-left-1 +971 50 576 7538
      a(href="tel:+971504889608").h4.column.column--full.column--md--one-fifth
        span.text--middle
          include ../images/phone.pug
        span.text--middle.margin-left-1
          include ../images/whatsapp.pug
        span.margin-left-1 +971 50 488 9608
  .section.margin-top-4
    .container
      .column.border-top.column--full
        .container.container--space-between.padding-top-3
          include ../images/logo.pug
          p Dibba, Fujairah, UAE, P.B.NO.14743
