session.hero
  header.padding-top-2.padding-bottom-2
    .container.container--space-between
      .column 
        include ../images/logo.pug
      ul.menu
        li 
          a(href="#clients") Our Clients
        li 
          a(href="#services") Our Services
        li 
          a(href="how-we-perform") How we perform
        li 
          a(href="contact") Contact
  .container.container--middle.container--row-reverse
    .column.column--md--half.column--full
      img(src="./images/hero-image.png", alt="Chloris tech contracting")
    .column.column--md--half.column--full
      h1.title
        | Get professional 
        br
        | technical contracting
        br
        | services in UAE.
      .container.margin-top-10
        a.button.button--secondary.margin-right-2(href="mailto:chlorisllc@gmail.com")
          | Contact us now
        a.button.button--neutral(href="mailto:chlorisllc@gmail.com")
          | Whatsapp