session.hero
  header.padding-top-2.padding-bottom-2
    .container.container--space-between
      .column 
        include ../images/logo.pug
      ul.menu
        li 
          a(href="#clients") Our Clients
        li 
          a(href="#services") Our Services
        li 
          a(href="how-we-perform") How we perform
        li 
          a(href="contact") Contact
  .container.container--middle.container--row-reverse
    .column.column--md--half.column--full
      img(src="./images/hero-image.png", alt="Chloris tech contracting")
    .column.column--md--half.column--full
      h1.title
        | Get professional 
        br
        | technical contracting
        br
        | services in UAE.
      .container.margin-top-10
        a.button.button--secondary.margin-right-2(href="mailto:chlorisllc@gmail.com")
          | Contact us now
        a.button.button--neutral(href="mailto:chlorisllc@gmail.com")
          | Whatsapp
  .container.container--middle.container--center
    .column.column--md--three-quarter.column--full.margin-top-5.margin-bottom-5
      .container.shape.shape--primary.container--top
        .column.column--auto.margin-right-4.padding-top-1
          include ../images/grid.pug
        .column.padding-right-4
            h3.margin-top-0.margin-bottom-3 One of the leading contractors, sub-contractors/outsource suppliers engaged in various projects in UAE.
            p We are committed to continuous quality improvement and is most conscious of the need to sustain and improve the high quality of services provided by the company. Our professionals are experts in their respective fields delivering quality outputs with a keen focus on customer satisfaction. We are committed to providing quality service to our customers thereby helping them achieve their business objectives in a faster, easier, and cost effective way.