section#how-we-perform.margin-top-4.margin-bottom-4.padding-bottom-4
  .container.padding-2
      .column.column--auto.margin-right-2.padding-top-1
          include ../images/grid.pug
      .column
        h3.subtitle How we perform
  .table.margin-top-6.margin-bottom-6
    .container
      .column.column--one-third.container.container--content--top
        .margin-right-2
          include ../images/staffing.pug
        h4.text--primary Staffing
      .column
        ul
          li All services will be carried our at required intervals as per the maintenance planner.
          li A team of technicians (off site) will carry out the preventive maintenance as per the scheduled at the required intervals.
          li The facilities engineer / Hard service manager will regularly visit the site and will be available for any clarification from the client, In addition other Heads of Departments will be available for any consultations that are required.
    .container
      .column.column--one-third.container.container--content--top
        .margin-right-2
          include ../images/qualifications.pug
        h4.text--primary Qualifications of technicians
      .column
        ul
          li More than three years of experience in the construction and maintenance industry. Under the companies training program all technicians will be regularly trained to improve their skills and knowledge required to carry out their assigned tasks. 
    .container
      .column.column--one-third.container.container--content--top
        .margin-right-2
          include ../images/waste-management.pug
        h4.text--primary Handling of waste
      .column
        ul
          li The technicians will ensure that the premises are kept clean and clear of material during the progress and after the completion of the works. All the waste will be cleared to bins provided by the client and located at site.
    .container
      .column.column--one-third.container.container--content--top
        .margin-right-2
          include ../images/reporting.pug
        h4.text--primary Reporting procedures
      .column
        ul
          li A detailed report informing the clients representative of the construction work and maintenance services being carried out and generally advising on the state of the existing equipment and machinery will be submitted as and when required. This will include on update of the contents of the previous report and the action taken.
    