.container.padding-bottom-5
  .column.column--one-third.margin-top-4
    .container
      .column.column--auto.margin-right-2
        include ../images/civil-engineer.pug
      .column
        h4 All types of civil, MEP & Oil Field works contracting
  .column.column--one-third.margin-top-4
    .container
      .column.column--auto.margin-right-2
        include ../images/welder.pug
      .column
        h4 Fabrication  & Welding
  .column.column--one-third.margin-top-4
    .container
      .column.column--auto.margin-right-2
        include ../images/ac.pug
      .column
        h4 Air Conditioning, Ventilation & Air Filtration system
  .column.column--one-third.margin-top-4
    .container
      .column.column--auto.margin-right-2
        include ../images/maintenance.pug
      .column
        h4 Building general maintenance
  .column.column--one-third.margin-top-4
    .container
      .column.column--auto.margin-right-2
        include ../images/interior-designer-tools.pug
      .column
        h4 Interior decorations
  .column.column--one-third.margin-top-4
    .container
      .column.column--auto.margin-right-2
        include ../images/landscaping.pug
      .column
        h4 Landscaping & Swimming pools