.hero {
  background-image: url("../../images/hero-bg.jpg");
  background-position: center, center;
  background-size: cover;
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30vh;
    background: linear-gradient(0deg, var(--white), rgba(255, 255, 255, 0));
  }
}

.shape {
  border-radius: 0px 50px;
  padding: var(--space-xl);
  overflow: hidden;

  &--primary {
    background: linear-gradient(83deg, var(--color-purple), var(--color-purple-light));
    color: var(--white);
    /* light shadow */
    box-shadow: -10px 20px 50px #00447457;
  }

  &--outline {
    border: 1px solid var(--color-gray-2);
  }
}

.client-box {
  padding: var(--space-xl) var(--space-lg);
  text-align: center;
  outline: 1px solid var(--color-gray-1);

  img {
    max-height: 30px;
  }
}

.service-container {
  .container {
    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    img {
      max-width: $breakpoint-sm;
      width: 90%;
    }
  }
}

#how-we-perform {
  background: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url("../../images/hero-bg.jpg");
  background-position: center, center;
  background-size: cover;
  display: block;
  position: relative; 

  .table {
    & > .container {
      border-bottom: 1px solid var(--color-gray-2);

      &:last-child {
        border-bottom: none;
      }

      & > .column {
        padding-top: var(--space-lg);
        padding-bottom: var(--space-lg);

        &:first-child {
          border-right: 1px solid var(--color-gray-2);
        }

        ul {
          margin: 0;
          list-style-image: url("../../images/check.svg");
          li {
            margin-bottom: var(--space-lg);
          }
        }
      }
    }
  }
}

footer {
  padding-top: var(--space-xxxl);
  background-color: var(--color-gray-1);
}

.border-top {
  border-top: 1px solid var(--color-gray-2);
}