@import "mixin/index";
body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; //horizontal
    * {
        box-sizing: border-box;
    }
    &.dashboard {
        background-color: var(--color-gray);
    }
    img,
    svg {
        max-width: 100%;
    }
    section {
        z-index: 1;
    }
}